.CardContainer { 
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0em 5em 0em 5em;
    margin-bottom: 2em;
}
.LeftContainer {
    display: flex;
    width: 70%;
    height: 100%;
    flex-flow: row wrap;
    box-sizing: border-box;
}
.RightContainer {
    margin-left: 1em;
    width: 30%;
}
.Card {
    border-radius: 4px;
    height: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
.Card h2 {
    margin-top: 4.5em;
}
.cardRed {
    width: 100%; 
    background-color: #FF9A9A; 
    margin-bottom: 1em;
}
.cardBlue {
    width: 100%;
    background-color: #9AE0FF;
    height: 516px;
}
.cardOrange {
    width: 39%;
    background-color: #FFC59A;
}
.cardPurple {
    margin-left: 1em;
    width: 59%;
    background-color: #BD9AFF;
}
@media(max-width:1317px) {
    .cardPurple {
        width: 58%;
    }
}
@media(max-width:936px) {
    .cardPurple {
        width: 57%;
    }
}
@media(max-width:800px) {
    .CardContainer {
        padding: 0em 2em 0em 2em;
    }
}
@media(max-width:655px) {
    .CardContainer {
        display: block;
    }
    .LeftContainer {
        width: 100%;
    }
    .RightContainer {
        width: 100%;
        margin: 0;
    }
    .cardRed {
        width: 100%; 
        margin-bottom: 1em;
    }
    .cardBlue {
        width: 100%;
        height: 250px;
        margin-bottom: 1em;
    }
    .cardOrange {
        width: 100%;
        margin-bottom: 1em;
    }
    .cardPurple {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
}
@media(max-width:330px) {
    .Card h2 {
        margin-top: 2.5em;
    }
    .CardContainer {
        padding: 0em 1em 1em 1em;
    }
    .cardRed {
        height: 150px;
    }
    .cardBlue {
        height: 150px;
    }
    .cardOrange {
        height: 150px;
    }
    .cardPurple {
        height: 150px;
    }
}
